.header{
  display: flex;
  flex-wrap: wrap;
  place-items: center;
  justify-content: space-between;
  padding: 10px;
}

.logo span{
  font-size: 2rem;
  color: #d129ab;
}

.logo{
  font-size: 1.3rem;
}

.navegacao ul{
  display: flex;
  flex-wrap: wrap;
  text-transform: uppercase;
}

.navegacao ul li{
  padding: 10px 20px;
}

.navegacao a:hover{
  color: #d129ab;
  text-decoration: underline;
}

.login{
  border: 1px solid #d129ab;
  border-radius: 5px;
  padding: 10px 20px;
}